body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A9A9A9;
    margin: 0;
}
.gizmoshop{
    text-align: center;
    color: #01011F;
    font-size: 40px;
}
header{
    background-color: #4A0000;
    position: fixed;
    width: 100%;
    box-shadow: 0 8px 6px -6px #ccc;
    display: inline-block;
}
header a{
    text-decoration: none;
}
.brand{
    margin-top: 20px;
    padding-left: 8px;
}
.brand a{
    color: #fff;
    font-weight: 900;

}
.navbar{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
    transition: 1s all;
}
nav ul li a.active{
    color: #080;
}
nav ul li a:hover{
    color: #1E8FFE;
    transition: 1s all;
}
nav ul li a i{ 
    margin-right: 5px;
}
.login ul li a{
    text-decoration: none;
    color: #01011F;
    transition: 1s all;
}
.login ul li a:hover{
    color: #1E8FFE;
    transition: 1s all;
}
main{
    text-align: center;
    background-image: url(../img/main.png);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 82px;
}
main h1{
    color: #01011F;
}
section#sect{
    display: flex;
    justify-content: space-between;

}
img{
    width: 100px;
    height: 100px;
}
#aboutimg{
    background-color: blue;

}
@media only screen and (max-width:768px){
    .gizmoshop{
        font-size: large;
        margin-top: 20px;
    }
    header{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 5px;
    }
    .brand a{
       font-weight: 450;
       font-size: x-small;
    } 
    nav ul li a{
        font-size: 7px;
        margin-right: 10px;
        display: table-row;
        justify-content: end;
    } 
    .login ul li a{
        font-size: 3px;
    }    
    main{
        padding-bottom: 130px;
        margin-top: 82px;
    } 
    main h1{
        font-size: 10px;
        margin-top: -10px;
    }
}