body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A9A9A9;
    margin: 0;
}
.gizmoshop{
    text-align: center;
    color: rgb(1, 1, 31);
}
header{
    background-color: #4A0000;
    position: fixed;
    width: 100%;
    box-shadow: 0 8px 6px -6px #ccc;
    display: inline-block;
}
header a{
    text-decoration: none;
}
.brand{
    margin-top: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
